@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

$color: beige;
$background: #1c1c1c;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  body {
    background: $background;
    color: $color;

    header {
      overflow: hidden;
      z-index: 2;

      div {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        height: 5vh;

        > a {
          display: flex;
          position: absolute;
          text-decoration: none;
          color: $color;
          font-size: 35px;
          left: 23%;
        }

        nav {
          position: absolute;
          display: flex;
          left: 65%;

          #current {
            background-color: rgb(2, 77, 27);
            border-radius: 5px;
          }

          #current:hover {
            background: rgb(6, 141, 51);
          }

          a {
            text-decoration: none;
            color: $color;
            margin: 0 15px;
            padding: 3px;
            transition: 0.5s;
            z-index: 3;
          }

          a:hover {
            background: rgb(6, 141, 51);
            border-radius: 5px;
          }
        }
      }
    }

    main {
      margin-left: auto;
      margin-right: auto;
      margin-top: 4%;
      width: 80vw;
      height: 70vh;
      overflow: hidden;
      border-radius: 15px;

      section {
        position: relative;
        height: 100%;
        width: 100%;
        left: 0%;

        h1 {
          position: absolute;
          right: 50%;
        }

        div {
          position: relative;
          display: flex;
          width: 95%;
          height: 100%;

          #first {
            width: 40vw;
            top: 5%;
            left: 2%;

            img {
              width: 35vw;
              position: absolute;
              border-radius: 15px;
              border: 5px solid #0000003a;
            }

            p {
              position: absolute;
              right: 5%;
              bottom: 5%;
              text-align: center;
            }
          }

          #second {
            width: 40vw;
            top: 5%;
            left: 2%;

            img {
              width: 35vw;
              position: absolute;
              border-radius: 15px;
              border: 5px solid #0000003a;
              bottom: 5%;
            }

            p {
              position: absolute;
              right: 5%;
              top: 2%;
              text-align: center;
            }
          }
        }
      }
    }

    footer {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
  }
}
